##Copyright 2005 Harvard University / Howard Hughes Medical Institute (HHMI) All Rights Reserved
$page.setTitle("XDAT")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($data.message)
<DIV class="error">$data.message</DIV><br>
#end
<script language="javascript">
	function ConfirmPassword()
	{
		if (document.getElementById)
		{
			if(document.getElementById('new_email').value == document.getElementById('confirm_email').value)
			{
concealContent("Submitting... Please wait.");
				return true;
			}else{
				alert('Values do not match');
				document.getElementById('new_email').value='';
				document.getElementById('confirm_email').value='';
				return false;
			}
		}
		else if (document.all)
		{
			if(document.all['new_email'].value == document.all['confirm_email'].value)
			{
				concealContent("Submitting... Please wait.");
				return true;
			}else{
				alert('Values do not match');
				document.all['new_email'].value='';
				document.all['confirm_email'].value='';
				return false;
			}
		}
	}
</script>
<p>
<form name="form1" method="post" action="$link.setAction("ModifyEmail")" ONSUBMIT="return ConfirmPassword();">
#if ($data.message)
<font color="red" size="3">$data.message</font>
#end
#if($vr)
	<font color="red">Invalid parameters:<BR>$vr.toHTML()</font>
<HR>
#end
<table border="0" width="95%">
	<tr>
		<TH align=center colspan=2>Change Email for $!item.getProperty("firstname") $!item.getProperty("lastname") ($!item.getProperty("login"))</TH>
	</tr>
		<tr>
		<TD align=right>Current Email:</TD><TD>$!item.getProperty("email")</TD>
	</tr>
	<tr>
		<TD align=right>Enter new Email:</TD><TD><INPUT id="new_email" type="text" name="xdat:user.email" value=""/></TD>
	</tr>
	<tr>
		<TD align=right>Confirm new Email:</TD><TD><INPUT id="confirm_email" type="text" name="confirm_email" value=""/></TD>
	</tr>
<input type="hidden" name="destination" value="Index.vm"/>
<input type="hidden" name="message" value="Email Changed."/>
	#xdatHiddenBox("xdat:user.xdat_user_id" $item "")
	#xdatHiddenBox("xdat:user.login" $item "")
	#xdatEditProps($item $edit_screen)
	<TR><TD COLSPAN=2 ALIGN=center><input type="submit" name="eventSubmit_doSetup" value="Submit"/></TD></TR>
</table>
</form>
</p>